<!--
  Version: 1.0.3
  Author: Nimish Bongale and team 
  Last modified date: July 24 2019
  Use: /claim screen for lostandfound
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lost&Found</title>
    <meta name="description" content="Find your near and dear ones in case of a natural calamity.">
    <meta name="keywords" content="Find your near and dear ones in case of a natural calamity.">
    <meta name="theme-color" content="#317EFB" />
    <link rel="manifest" href="js/manifest.json">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="/css/style2.css" rel="stylesheet" type="text/css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" aria-label="button">
    <section id="banner" class="banner">
        <div class="bg-color">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="img/Screenshot from 2019-06-29 14-03-04.png"
                                    alt="Not showing" class="img-responsive"
                                    style="width: 150px; margin-top: -27px;"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/">Services</a></li>
                                <li><a href="/">About</a></li>
                                <li><a href="/">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="banner-info">
                        <div class="banner-text text-center">
                            <h1 class="white">Claim the presence of an entity</h1>
                            <p>If you happen to run a relief camp, make the presence of everyone accounted for,
                                such that their connections are assured of their safety.
                            </p>
                            <a href="/populate" class="btn btn-appoint">Add in your details</a>
                            <a href="/search" class="btn btn-appoint">Search for your near and dear ones</a>
                        </div>
                        <div class="overlay-detail text-center">
                            <a href="#about" aria-label="about"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>

    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="section-title">
                        <h2 class="head-title lg-line">Tips on<br>How to claim<br></h2>
                        <hr class="botm-line">
                        <p class="sec-para">Claim the presence of your near and dear one, or some other entities present
                            in our network.
                        </p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div style="visibility: visible;" class="col-sm-9 more-features-box">
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <h3>Guarantee</h3>
                                <p>When you peronally guarantee the presence of an entity with you, an update
                                    of that entity's state takes place on our system. False claiming of a person
                                    will be sternly dealt with.
                                </p>
                            </div>
                        </div>
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <h3>Let's be unified</h3>
                                <p>The more entities you claim, more the number of people getting benefitted from your
                                    work, and the stronger our network is.</p>
                            </div>
                        </div>
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <h3>Specificity</h3>
                                <p>Your claim must be specific to an entity, and must be attested with
                                    your verification details.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="claimpeep" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="ser-title">Claim presence of an entity</h2>
                    <hr class="botm-line">
                </div>
                <div class="col-md-8 col-sm-8 marb20">
                    <div class="contact-info">
                        <h3 class="cnt-ttl"></h3>
                        <div class="space"></div>
                        <div id="sendmessage"></div>
                        <div id="errormessage"></div>
                        <form action="/claim/person/person" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <label>Name (if provided)
                                    <input type="text" name="name" class="form-control br-radius-zero" id="name"
                                        placeholder="Name of entity" data-rule="minlen:4"
                                        data-msg="Please enter at least 4 chars" /></label>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <label>Geo Location
                                    <input type="text" name="geo" class="form-control br-radius-zero" id="geo"
                                        placeholder="Your Location" data-rule="minlen:4"
                                        data-msg="Please enter at least 4 chars" /></label>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <label>Person Condition
                                    <input type="text" class="form-control br-radius-zero" name="condition"
                                        id="condition" placeholder="Person Condition" data-rule="minlen:4"
                                        data-msg="Please enter at least 8 characters" /></label>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <label>Custom Message (must include claimants' details)
                                    <textarea class="form-control br-radius-zero" name="custommsg" rows="5"
                                        id="custommsg" data-rule="required"
                                        data-msg="Please specify relevant information"
                                        placeholder="Please specify relevant information"></textarea></label>
                                <div class="validation"></div>

                            </div>
                            <div class="form-group">
                                <label>Iris Scan/Birthmark/Fingerprint Images
                                    <input type="file" name="pic" accept="image/*"></label>
                            </div>

                            <div class="form-action">
                                <button type="submit" class="btn btn-form">Claim</button><br><br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer id="footer">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="info-sec">
                            <p>Copyright © Lost&Found
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">Quick Links</h4>
                        </div>
                        <div class="info-sec">
                            <ul class="quick-info">
                                <li><a href="/populate"><i class="fa fa-circle"></i>Add in your details</a></li>
                                <li><a href="/search"><i class="fa fa-circle"></i>Initiate Search</a></li>
                                <li><a href="/claim"><i class="fa fa-circle"></i>Claim presence of entity</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">Find us over on&nbsp;&nbsp;<i
                                    class="fa fa-arrow-circle-down"></i></h4>
                        </div>
                        <div class="info-sec">
                            <ul class="social-icon">
                                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                                <li class="bgdark-blue"><i class="fa fa-github"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--JS Scripts-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/contactform/contactform.js"></script>
    <script>
        if ('serviceWorker' in window.navigator) {
            navigator.serviceWorker.register('js/service-worker.js');
        }
    </script>

</body>

</html>