<!--
  Version: 1.0.3
  Author: Nimish Bongale and team 
  Last modified date: July 24 2019
  Use: /index Home screen for lostandfound
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lost&Found</title>
  <meta name="description" content="Find your near and dear ones in case of a natural calamity.">
  <meta name="keywords" content="Find your near and dear ones in case of a natural calamity.">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="css/style3.css" rel="stylesheet" type="text/css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="img/Screenshot from 2019-06-29 14-03-04.png"
                  class="img-responsive" style="width: 150px; margin-top: -27px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Home</a></li>
                <li class="/"><a href="#service">Services</a></li>
                <li class="/"><a href="#about">About</a></li>
                <li class="/"><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <img src="img/Screenshot from 2019-06-29 14-03-04.png" class="img-responsive" height="150" width="200">
            </div>
            <div class="banner-text text-center">
              <h1 class="white">Find your blood relations, friends, neighbours or colleagues.</h1>
              <p>Take a step closer to find your dear one. We make this possible by preparing for a disaster
                beforehand.
              </p>
              <a href="/populate" class="btn btn-appoint">Add in your details</a>
              <a href="/search" class="btn btn-appoint">Search for your near and dear ones</a>
              <a href="/claim" class="btn btn-appoint">Claim presence</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br><br>
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4"><br>
          <h2 class="ser-title">Our Service</h2>
          <hr class="botm-line">
          <p>Our service is completely free of cost.<br>We work for humanity. We ensure to respond to your call
            always.
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-calendar-check-o"></i>
            </div>
            <div class="icon-info">
              <h4>24/7 Support</h4>
              <p>Open for you, always. Our doors are never closed.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="icon-info">
              <h4>Emergency Services</h4>
              <p>We tie up with Hospitals, Rehab centres and Safe-Shelter camps. At rehab centres, we try to ensure the
                availability (on demand) of medical counsellors to attend to you.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-shield"></i>
            </div>
            <div class="icon-info">
              <h4>Security</h4>
              <p>Your data is safe with us. You chose what to provide us with.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-connectdevelop"></i>
            </div>
            <div class="icon-info">
              <h4>Advanced Technology</h4>
              <p>We use a Graph Database at the backend to create a scalable yet concise social graph.
                This ensures that we are able to provide the necessary assistance in the speediest way possible.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">The Lost&Found <br>Ultimate Dream<br>FAQ</h2>
            <hr class="botm-line">
            <p class="sec-para">Find the lost, and shorten the time required to find them.</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Here's something important you would want to know!</h3>
                <p>We don't do anything with your data unless you permit us. We make sure it is kept confidential.
                </p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Let's be prepared!</h3>
                <p>We recommend you to store all your data (populate the database) before calamity strikes,
                  so you can make use of our services as and when needed.
                </p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>So how do I be prepared?</h3>
                <p>Help us populate the database by adding in your data (such as name, role, organization) and
                  relations with other people (currently restricted to 15 per person). Relations could be
                  any one among the type friend, neighbour, colleague, relative or owner. For pets, the owner node will
                  take accountability.
                </p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>How will this help?</h3>
                <p>After a calamity strikes, no matter where you are, your
                  connectivity on our remote graph remains unaffected. In case you are found somewhere
                  unconcious and not in a state to give your identity, a quick retina scan/birthmark details
                  can be obtained, and the nearest neighbouring nodes be alerted of the same.
                  You can also claim the presence of someone, or initiate a search for a lost enitity.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="doctor-team" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Get to know us better!</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="thumbnail">
            <div class="caption">
              <img alt="Shilpa Sangappa"
                src="https://media.licdn.com/dms/image/C5103AQHKUF_xHM3eGA/profile-displayphoto-shrink_800_800/0?e=1568246400&amp;v=beta&amp;t=-fDG6TQRcs5hK6Y7gZHK2W83actB-GkhTkPwzrV0jJw"
                class="img-responsive" lazyload="on">

              <h3>Shilpa Sangappa</h3>
              <p>Student, Research Intern</p>
              <ul class="list-inline">
                <li><a href="https://github.com/ShilpaSangappa"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/shilpa-sangappa-11b23314/"><i class="fa fa-linkedin"></i></a>
                <li><a href="https://www.facebook.com/shilpa.sangappa"><i class="fa fa-facebook"></i></a></li>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="thumbnail">
            <div class="caption">
              <img
                src="https://media.licdn.com/dms/image/C5103AQGpQNeowC0afg/profile-displayphoto-shrink_200_200/0?e=1568246400&amp;v=beta&amp;t=AC8kZ2vOgSwJRLVqzLE7LHmK2ourydUw6ctPbhHgWM4"
                class="img-responsive" alt="Edit photo" lazyload="on">

              <h3>Nimish Bongale</h3>
              <p>Student, Intern</p>
              <ul class="list-inline">
                <li><a href="https://github.com/nimishbongale"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/nimish-bongale/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.quora.com/profile/Nimish-Bongale"><i class="fa fa-quora"></i></a></li>
                <li><a href="https://www.facebook.com/nimish.bongale"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/nimishbongale/"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="thumbnail">
            <div class="caption">
              <img
                src="https://media.licdn.com/dms/image/C5103AQE1zN6TrP--Nw/profile-displayphoto-shrink_800_800/0?e=1568246400&amp;v=beta&amp;t=LtL0iS-lt3L1N_x1MkFurdFg4OAFubzzd6KgEICrC2U"
                class="img-responsive" alt="Mounica Narkedamilli" lazyload="on">
              <h3>Mounica Narkedamilli</h3>
              <p>TCS Employee</p>
              <ul class="list-inline">
                <li><a href="https://github.com/MounicaNarkedamilli"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/narkedamillimounica"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/B_as_U_like"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/mounica.narkedamilli"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
 
  <!--/ testimonial-->
  <!--cta 2-->
  <section id="cta-2" class="section-padding">
    <div class="container">
      <div class=" row">
        <div class="col-md-2"></div>
        <div class="text-right-md col-md-4 col-sm-4">
          <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
        </div>
        <div class="col-md-4 col-sm-5">
          We join humans to form a tight mesh that mankind hasn't yet seen before.
          Stay connected, no matter where you are.
          <br><br>
          To contribute towards the project, feel free to open issues and pull requests on
          our <a href="https://github.com/nimishbongale/LostAndFound">github</a> repository.
          <p class="text-right text-primary"><i>— Lost&Found team</i></p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>

  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contact us</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <h3>Contact Info</h3>
          <div class="space"></div>
          <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Bangalore, Karnataka, India</p>
          <div class="space"></div>
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>lostandfoundry123@gmail.com</p>
        </div>
        <div class="col-md-8 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl"></h3>
            <div class="space"></div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div class="form-action">
                <button type="submit" class="btn btn-form">Send Message</button>
                <label>(or alternatively, write an email to us <a
                    href="mailto:lostandfoundry123@gmail.com">here</a>)</label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="info-sec">
              <p>Copyright © Lost&Found
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="/populate"><i class="fa fa-circle"></i>Add in your details</a></li>
                <li><a href="/search"><i class="fa fa-circle"></i>Initiate Search</a></li>
                <li><a href="/claim"><i class="fa fa-circle"></i>Claim presence of entity</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Find us over on&nbsp;&nbsp;<i class="fa fa-arrow-circle-down"></i></h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                <li class="bgdark-blue"><i class="fa fa-github"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--
    Scripts
  -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>

</body>

</html>
