<!--
  Version: 1.0.3
  Author: Nimish Bongale and team 
  Last modified date: July 24 2019
  Use: /search screen for lostandfound
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lost&Found</title>
    <meta name="description" content="Find your near and dear ones in case of a natural calamity.">
    <meta name="keywords" content="Find your near and dear ones in case of a natural calamity.">
    <meta name="theme-color" content="#317EFB" />
    <link rel="manifest" href="js/manifest.json">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="/css/style1.css" rel="stylesheet" type="text/css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <section id="banner" class="banner">
        <div class="bg-color">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                                aria-label="button">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="img/Screenshot from 2019-06-29 14-03-04.png"
                                    alt="Not showing" class="img-responsive" lazyload="on"
                                    style="width: 150px; margin-top: -27px;"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/">Services</a></li>
                                <li><a href="/">About</a></li>
                                <li><a href="/">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="banner-info">
                        <div class="banner-text text-center">
                            <h1 class="white">Search for your near and dear ones</h1>
                            <p>You're almost there. A few steps, and you be set searching through our database.
                                <br>We sincerely hope and pray for the successful rescue of your loved one.
                            </p>
                            <a href="/populate" class="btn btn-appoint">Add in your details</a>
                            <a href="/claim" class="btn btn-appoint">Claim presence</a>
                        </div>
                        <center>
                            <a href="/search#results" class="btn btn-appoint">Go to results</a>
                        </center>
                        <div class="overlay-detail text-center">
                            <a href="#about" aria-label="about"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>

    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="section-title">
                        <h2 class="head-title lg-line">Tips on<br>How to Search<br></h2>
                        <hr class="botm-line">
                        <p class="sec-para">Search for an entity.</p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div style="visibility: visible;" class="col-sm-9 more-features-box">
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <h3>Criteria</h3>
                                <p>Searches should be specific, as entities with similar attributes
                                    may exist across the entire database.</p>
                            </div>
                        </div>
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <h3>Be patient</h3>
                                <p>Distant searches may take more time, but we assure you we're doing our best.
                                </p>
                            </div>
                        </div>
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <h3>Usage</h3>
                                <p>We try to be as accurate with the data we provide. However, actual physical
                                    verification may be required in some cases to validate our findings.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="ser-title">Provide the details</h2>
                    <hr class="botm-line">
                    <label>(Please enter any one of the fields to avoid duplicate results)</label>
                </div>

                <div class="col-md-8 col-sm-8 marb20">
                    <div class="contact-info">
                        <h3 class="cnt-ttl"></h3>
                        <div class="space"></div>
                        <div id="sendmessage"></div>
                        <div id="errormessage"></div>
                        <form action="/search" method="post" role="form" class="contactform">
                            <div class="form-group">
                                <label>Name
                                    <input type="text" name="name" class="form-control br-radius-zero" id="name"
                                        placeholder="Your Name" data-msg="Please enter at least 4 chars"
                                        data-rule="required" /></label>
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label>Role
                                    <input class="form-control br-radius-zero" type="text" name="role" id="role"
                                        data-msg="Enter your role" placeholder="Your Role"
                                        data-rule="required"></input></label>
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label>Organization
                                    <input class="form-control br-radius-zero" type="text" name="org" id="org"
                                        data-msg="Enter your Organization" placeholder="Your Oragnization"
                                        data-rule="required"></input></label>
                                <div class="validation"></div>
                            </div>
                            <div class="form-action">
                                <button type="submit" value="submit" class="btn btn-form">Initiate
                                    Search</button><br><br>
                                <label>(After the page refreshes, please scroll down to see the
                                    results or alternatively click on the "Go to results" button)&nbsp;&nbsp;
                                    <i class="fa fa-arrow-circle-down"></i>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="results" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 marb20">
                    <h1>Results</h1>
                    <h4>(Information will be displayed here)</h4><br>
                    <ul>
                        <% people.forEach(function(person){ %>
                        <li>
                            <i class="fa fa-circle"></i>&nbsp;&nbsp;
                            <label>Name : </label>
                            <%= person.title %><br>
                            <label>Safe : </label>
                            <%= person.safe%><br>
                            <label>Geo-location : </label>
                            <%= person.geo%><br>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="info-sec">
                            <p>Copyright © Lost&Found
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">Quick Links</h4>
                        </div>
                        <div class="info-sec">
                            <ul class="quick-info">
                                <li><a href="/populate"><i class="fa fa-circle"></i>Add in your details</a></li>
                                <li><a href="/search"><i class="fa fa-circle"></i>Initiate Search</a></li>
                                <li><a href="/claim"><i class="fa fa-circle"></i>Claim presence of entity</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">Find us over on&nbsp;&nbsp;<i
                                    class="fa fa-arrow-circle-down"></i></h4>
                        </div>
                        <div class="info-sec">
                            <ul class="social-icon">
                                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                                <li class="bgdark-blue"><i class="fa fa-github"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--JS Scripts-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/contactform/contactform.js"></script>
    <script>
        if ('serviceWorker' in window.navigator) {
            navigator.serviceWorker.register('js/service-worker.js');
        }
    </script>

</body>

</html>